@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.toggle-checkbox {
    position: fixed;
    z-index: 1000;
    display: none;
    bottom: 5%; 
    right: 5%; 
}
  
.toggle-label {
    z-index: 1500;
    font-family: "Inter Tight", sans-serif;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px #333;
    --size: 4rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(192, 50%, 71%);
    transition: all 500ms;
    position: fixed; 
    bottom: 3%; 
    right: 5%; 
}
  
  .toggle-checkbox:checked + .toggle-label {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    color: hsl(45, 100%, 54%);
    box-shadow: 
      inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  }
  
html {
    scroll-behavior: smooth;
}

.skip-link {
    position: absolute; 
    left: -1000px;
    top: 25px;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
    background-color: white;
    position: absolute;
    padding: 1em 1.5em;
    box-sizing: border-box;
    z-index: 1;
}

body {
    background-color: #ecf0f1;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    padding-top: 330px;
    transition: 0.25s ease;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 300px;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 2000;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: #fff;
    line-height: 240px;
    font-weight: 100;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 1px #333;
}

nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,.1);
}

nav ul {
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav li {
    text-shadow: 1px 1px 1px #333;
    text-decoration: none;
    display: inline;
    position: relative;
    padding-inline: 1em;
    padding-block: 0.5em;
    overflow: hidden;
    cursor: pointer;
}

nav a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-style: solid;
  border-width: 0.5px;
  scale: 0 1;
  transition: scale 250ms ease, translate 250ms ease;
}

nav li:hover::after {
  scale: 1 1;
}

@supports (selector(:has(*))) {
  nav li:hover + li::after {
    translate: -100% 0;
  }

  nav li:has(+ li:hover)::after {
    translate: 100% 0;
  }
}

h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 2;
    color: #2c3e50;
}

body.sticky-header header {
    height: 60px;
}

body.sticky-header header h1 {
    display: none;
}

body.sticky-header {
    padding-top: 100px;
}

body.sticky-header .sticky-header nav {
    position: fixed;
    top: 0;
    width: 100%;
}

body.sticky-header .sticky-header nav li {
    display: inline;
    margin-right: 20px;
}

.me {
    display: block;
    border-radius: 100%;
    width: 135px;
    height: 130px;
    border: 0.2px solid #222;
    margin-left: 50px;
    /* filter: drop-shadow(1px 2px 1px #333); */
}

p, h1, h2, h3, ul, li {
    font-family: "Inter Tight", sans-serif;
}

p, h1, h2, #aboutdetails {
    margin: 5%;
}

#aboutdetails {
    margin-top: 0%;
    padding-bottom: 2%;
}

#projects {
    padding-bottom: 2%;
}

#pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    width: auto;
    margin-bottom: 13%;
}

#pic img {
    width: 50%;
}

#skills, #contact, #projects, #about {
    text-align: center;
}

.skillscontainer {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
}

.skillscontainer p {
    font-size: medium;
}

.skillscontainer ul {
    padding-left: 40%;
    text-align: left;
    list-style-position: inside;
    list-style-type: circle;
}

.skillscontainer i, .languages p, .other p, .frameworks p {
    text-align: center;
    display: block;  
    margin: 0 auto;
}

.contactcontainer {
    display: grid; 
    grid-template-columns: auto auto auto;
    column-gap: 20%;
    justify-items: center;
    justify-content: center;
    padding-bottom: 15%;
    padding-top: 2%;
}

.contact-icon {
    color: #333;
    transition: transform .2s ease-in-out;
}

.contact-icon:hover {
    transform: scale(1.5);
}

.projectscontainer {
    grid-template-columns: 45% 45%;
    z-index: 10;
    position: relative;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    padding-bottom: 5%;
    column-gap: 5%;
}

.projectimg { 
    position: relative;
    z-index: 0;
    width: 100%;
    height: 80%;
}

.overlaycontainer {
    position: relative;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #101010;
}
  
.overlaycontainer:hover .overlay {
    opacity: 80%;
}
  
.text {
    font-family: "Inter Tight", sans-serif;
    color: white;
    font-size: clamp(0.8rem, 1.8vw, 2rem);
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.lightpic, .darkpic { 
    width: 75%;
    border-radius: 5%;
}

.lightpic {
    transition: .3s ease; 
    display: block;
    box-shadow: 18px 20px 0px 5px #ffa1b5;
}

.darkpic {
    display: none;
    box-shadow: 18px 20px 0px 5px #484990;
}

.dark-mode {
    transition: .3s ease; 
    background-color: #000000;
    .text, .contact-icon {
        color: white;
    }
    header {
        background-image: linear-gradient(135deg, #15234e 10%, #4a306c 100%);
    }
    p, h1, h2, h3, ul, li {
        color: white;
    }
    .darkpic {
        transition: .3s ease;  
        display: block;
    }
    .lightpic {
        display: none;
    }
}

@media screen and (min-width:550px) { 
    .skillscontainer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        column-gap: 5%;
        padding-left: 10%;
        padding-right: 10%;
        overflow: hidden;
        padding-bottom: 10%;
        justify-content: center;
    }
    
    .skillscontainer ul {
        text-align: left;
        list-style-position: inside;
        list-style-type: circle;
        padding-left: 28%;
    }
    
    .skillscontainer i, .languages p, .other p, .frameworks p {
        text-align: center;
        display: block;  
        margin: 0 auto;
    }
    
    .toggle-label {
        --size: 4.5rem;
    }

    header h1 {
        font-size: 5em;
    }

    p {
        font-size: 15px;
    }

    ul, li {
        font-size: 18px;
        align-items: center;
    }

    .skillscontainer p {
        font-size: 20px;
    }
}

@media screen and (min-width:1000px) { 
    header {
        height: 350px;
    }

    header h1 {
        font-size: 6.5em;
    }

    .toggle-label {
        --size: 5.5rem;
    }

    #aboutcontainer {
        padding-top: 5%;
    }

    #bigcontainer {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        justify-items: self-end;
    }

    #aboutcontainer, #container2 {
        padding-top: 5%;
    }

    #about {
        text-align: left;
    }
    
    #pic {
        display: block;
        align-content: space-evenly;
        align-self: center;
        align-items: center;
        width: 100%;
    }

    .projectscontainer {
        grid-template-columns: 20% 20% 20% 20%;
        column-gap: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .projectimg { 
        width: 100%;
        height: 80%;
    }

    .overlay {
        height: 80%;
        width: 100%;
    }

    .contactcontainer .contact-icon {
        font-size: 9em !important;
    }

    nav li {
        font-size: 20px;
    }

    li {
        font-size: 15px;
    }

    .skillscontainer p {
        font-size: 15px;
    }
    
    #pic img {
        width: 70%;
    }
    
    .text {
        font-size: clamp(0.8rem, 0.9vw, 1.4rem);
    }
}

@media screen and (min-width:1200px) { 

    li {
        font-size: 18px;
    }


    p {
        font-size: 18px;
    }

    .skillscontainer p {
        font-size: 19px;
    }
    
    #pic img {
        width: 75%;
    }
    
    .projectimg { 
        width: 100%;
        height: 80%;
    }

    .overlay {
        height: 80%;
        width: 100%;
    }
}

